Django==1.6
Markdown
PyYAML
amqp
anyjson
billiard
boto
celery
decorator
django-celery
django-filter
django-nose
djangorestframework
httplib2
kombu
librabbitmq
nose
pep8
pyparsing
pyrabbit
pysqlite
pytz
redis
requests
wsgiref
-e git+https://github.com/santtu/django-static-precompiler.git#egg=django-static-precompiler
# setup-only: django-static-precompiler==0.3-santtu
# setup-only: http://github.com/santtu/django-static-precompiler/tarball/master#egg=django-static-precompiler-0.3-santtu
flake8
dj-database-url
psycopg2
