Django==1.6
Markdown
PyYAML
amqp
anyjson
billiard
boto
celery
decorator
django-celery
django-filter
django-nose
djangorestframework
httplib2
ipython
kombu
librabbitmq
nose
pep8
pyparsing
pyrabbit
pysqlite
pytz
redis
requests
wsgiref
-e git+https://github.com/santtu/django-static-precompiler.git#egg=static_precompiler
flake8
