{% load staticfiles %}
{% load coffeescript %}
{% load less %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>freezr</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "freezr_ui/css/bootstrap.css" %}" rel="stylesheet">

    <link href="{% static "freezr_ui/css/animate-20131128.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="{% static "freezr_ui/css/freezr.css" %}" rel="stylesheet"> -->
    <link href="{{ STATIC_URL }}{% less "freezr_ui/less/freezr.less" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% verbatim %}
    <script type="text/x-handlebars">
      <section id="freezrapp">
	<div class="container">
	  <header>
	    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	      <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">freezr</a>
		</div>
		<div class="collapse navbar-collapse">
		  <ul class="nav navbar-nav">
		    <li>{{#link-to 'home'}}Home{{/link-to}}</a></li>
		    <li class="active">{{#link-to 'projects'}}Projects{{/link-to}}</li>
		    <li>{{#link-to 'accounts'}}Accounts{{/link-to}}</li>
		  </ul>
		</div><!--/.nav-collapse -->
	      </div>
	    </div>
	  </header>

	  <section id="main">
	    {{outlet}}
	  </section>

	  <!-- <footer> -->
	  <!--   Footer here. -->
	  <!-- </footer> -->
	</div>
    </script>

    <script type="text/x-handlebars" id="project">
      single project view {{id}}
    </script>

    <script type="text/x-handlebars" id="projects-project">
      <div class="row project-list">
	<div {{bind-attr class=":project-info :project-shrinker parentView.actionsVisible:col-sm-8:col-sm-10"}}>
	<!-- <div class="col-sm-10 project-info project-shrinker"> -->
	  <div class="row">
	    <div class="col-xs-1 project-info-expand">
	      {{#if view.expanded}}
	      <a class="glyphicon glyphicon-chevron-up" href="#" {{action 'collapse' target="view"}}></a>
	      {{else}}
	      <a class="glyphicon glyphicon-chevron-down" href="#" {{action 'expand' target="view"}}></a>
	    {{/if}}
	    </div>
	    <div class="col-xs-11 project-info-main">
	      <div class="project-info-short row text-primary">
	    	<p class="lead">{{#link-to 'project' this}}{{name}}{{/link-to}}</p>
	      </div>
	      <div {{bind-attr class=":project-info-long :row :text-muted view.expanded::hidden"}}>
	    	<div class="col-md-9 project-info-description no-left-gutter">
	    	  <p>{{description}}</p>
	    	</div>
	    	<div class="col-md-3 project-info-details no-left-gutter-row">
	    	  <div class="row">
	    	    <div class="col-xs-8">Instances:</div>
	    	    <div class="col-xs-4">{{pickedInstances.length}}</div>
	    	  </div>
	    	  <div class="row">
	    	    <div class="col-xs-8">Pick filter:</div>
	    	    <div class="col-xs-4"><tt>{{pickFilter}}</tt></div>
	    	  </div>
	    	  <div class="row">
	    	    <div class="col-xs-8">Save filter:</div>
	    	    <div class="col-xs-4"><tt>{{saveFilter}}</tt></div>
	    	  </div>
	    	  <div class="row">
	    	    <div class="col-xs-8">Terminate filter:</div>
	    	    <div class="col-xs-4"><tt>{{terminateFilter}}</tt></div>
	    	  </div>
	    	  <div class="row">
	    	    <div class="col-xs-8">Regions:</div>
	    	    <div class="col-xs-4">
	    	      <abbr title="eu-west-1, us-east-1, us-west-1">{{regions.length}}</abbr>
	    	    </div>
	    	  </div>
	    	</div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="col-sm-2">
	  <div class="project-status">
	    {{#if canFreeze}}
	    <div class="project-action-freeze">
	      <a href="#" class="btn btn-primary project-action-freeze-button col-xs-12" {{action 'freeze' this}}></a>
	    </div>
	    {{/if}}
	    {{#if canThaw}}
	    <div class="dropdown project-action-thaw">
	      <a data-toggle="dropdown" href="#" class="btn btn-primary project-action-thaw-button col-xs-12"></a>
	      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		<li><a href="#" {{action 'thaw' this 60}}>1 hour</a></li>
		<li><a href="#" {{action 'thaw' this 240}}>4 hours</a></li>
		<li><a href="#" {{action 'thaw' this 480}}>8 hours</a></li>
		<li><a href="#" {{action 'thaw' this 1440}}>1 day</a></li>
		<li><a href="#" {{action 'thaw' this 4320}}>3 days</a></li>
		<li><a href="#" {{action 'thaw' this 10080}}>1 week</a></li>
		<li><a href="#" {{action 'thaw' this -1}}>Indefinitely</a></li>
	      </ul>
	    </div>
	    {{/if}}
	    {{#if cannotChange}}
	    {{#if isFreezing}}
	    <div class="btn btn-info col-xs-12 animated operation-in-progress">Freezing</div>
	    {{else}}
	    {{#if isThawing}}
	    <div class="btn btn-warning col-xs-12 animated operation-in-progress">Thawing</div>
	    {{else}}
	    Unhandled state <b>{{state}}</b>
	    {{/if}}
	    {{/if}}
	    {{/if}}
	    <small>for {{view "App.FromNowView" valueBinding="stateChanged"}}</small>
	    ({{stateChanged}})
	  </div>
	</div>
	<div {{bind-attr class=":col-sm-2 :project-actions :project-expander parentView.actionsVisible::hidden"}}>
	  <button class="btn btn-default col-xs-12" {{action 'edit' this}}>Edit</button><br>
	  {{#if isReloading}}
	  <button class="btn btn-default col-xs-12 has-spinner active"><span class="glyphicon glyphicon-refresh animation"></span></button>
	  {{else}}
	  <button class="btn btn-default col-xs-12 has-spinner active" {{action 'refresh' this}}><span class="glyphicon glyphicon-refresh"></span></button>
	  {{/if}}
	  <button class="btn btn-default col-xs-12" {{action 'deactivate' this}}><span class="glyphicon glyphicon-pause"></span></button>
	</div>
      </div>

    </script>

    <script type="text/x-handlebars" id="accounts">
      accounts resource
    </script>

    <script type="text/x-handlebars" id="index">
      index resource
    </script>

    <script type="text/x-handlebars" id="home">
      <h1>Welcome!</h1>

      <p class="lead">You'll find more information of ..</p>

      <ul>
	<li>{{#link-to 'projects'}}{{projects.length}} projects{{/link-to}}</li>
	<li>{{#link-to 'accounts'}}{{accounts.length}} accounts{{/link-to}}</li>
	<li>{{instances.length}} instances</li>
	<li>{{domains.length}} domains</li>
      </ul>
    </script>

    <script type="text/x-handlebars" id="components/actions-expander">
      {{log this}}
      {{#if parentView.actionsVisible}}
      <a href="#" class="glyphicon glyphicon-chevron-right" {{action "collapse" target="parentView"}}></a>
      {{else}}
      <a href="#" class="glyphicon glyphicon-chevron-left" {{action "expand" target="parentView"}}></a>
      {{/if}}
    </script>

    <script type="text/x-handlebars" id="projects/index">
      <h1>Projects</h1>

      <div id="project-list-view">
	<div class="project-list-header">
	  <div class="row">
	    <div class="col-sm-10"></div>
	    <div class="col-sm-2 project-action-expand text-right">
	      {{actions-expander}}
	    </div>
	  </div>
	</div>

	{{#each projects}}
	{{#with view as parentView}}
	{{view "App.ProjectsProjectView"}}
	{{/with}}
	{{/each}}

	<div class="project-list-footer">
	  <div {{bind-attr class=":row :projects-actions :project-expander view.actionsVisible::hidden"}}>
	    <div class="col-sm-10"></div>
	    <div class="col-sm-2">
	      {{#if refreshingAll}}
	      <button class="btn btn-info col-xs-12"><span class="glyphicon glyphicon-refresh animation"></span></button>
	      {{else}}
	      <button class="btn btn-info col-xs-12" {{action 'refreshAll'}}><span class="glyphicon glyphicon-refresh"></span></button>
	      {{/if}}
	      <button class="btn btn-info col-xs-12" {{action 'create'}}><span class="glyphicon glyphicon-plus"></span></button>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-sm-10"></div>
	    <div class="col-sm-2 project-action-expand text-right">
	      {{actions-expander}}
	    </div>
	  </div>
	</div>
      </div>
    </script>

    <script type="text/x-handlebars" id="index2">
      <h2>Domains</h2>
      <ol id="domains-list">
	{{#each domains}}
	<li>{{id}} | {{name}} – {{accounts.length}}</li>
	{{/each}}
      </ol>

      <h2>Accounts</h2>
      <ol id="accounts-list">
	{{#each accounts}}
	<li>{{id}} | {{name}} | {{state}} – {{projects.length}} </li>
	{{/each}}
      </ol>

      <h2>Projects</h2>
      <ol id="projects-list">
	{{#each projects}}
	<li>{{id}} | {{name}} | {{state}} ({{timeSince
	  stateChanged}}) [{{timeSince account.updated}}]</li>
	{{/each}}
      </ol>

      <h2>Instances</h2>
      <ol id="instances-list">
	{{#each instances}}
	<li>{{id}} | {{instanceId}} | {{state}}</li>
	{{/each}}
      </ol>
    </script>

    {% endverbatim %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>freezr_api_root = "{{ api_root }}";</script>
    <script src="{% static "freezr_ui/js/jquery-1.10.2.js" %}"></script>
    <script src="{% static "freezr_ui/js/moment-2.4.0.js" %}"></script>
    <script src="{% static "freezr_ui/js/handlebars-1.1.2.js" %}"></script>
    <script src="{% static "freezr_ui/js/ember-1.2.0.js" %}"></script>
    <!-- todo: remember to track updates, this is beta.3 -->
    <script src="{% static "freezr_ui/js/ember-data.js" %}"></script>
    <!-- <script src="{% static "freezr_ui/js/ember-data-django-rest-adapter.js" %}"></script> -->
    <script src="{% static "freezr_ui/js/bootstrap.js" %}"></script>
    <script src="{{ STATIC_URL }}{% coffeescript "freezr_ui/coffeescript/freezr.coffee" %}"></script>
  </body>
</html>
